@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    
}
.relogio{
    display: flex;
    justify-content: space-around;
   
    align-items: center;
    height: 250px;
    width: 550px;
    background: transparent;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    
}
.relogio div{
    background-color: rgb(24, 23, 23);
    color: aliceblue;
    width: 150px;
    
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 35px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.562);
}
.relogio span{
    font-weight: bold;
    font-size: 60px;
}
.relogio span.tempo{
    font-size: 18px;
    font-weight: 100;
}